.hero-container {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 12%;
}



.hero-container-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.hero-text {
    width: 500px;
}

.hero-text-main {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    margin-bottom: 6px;
}

.hero-text-sub {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 6px;
}

.hero-text-button {
    background-color: rgb(92, 179, 255);
    padding: 3px;
    border-radius: 6px;
    width: 120px;
    height: 36px;
    border: none;
    color: white;
    font-weight: 900;
}



.hero-image {
    width: 500px;
}

