.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    background-color: #1f2937;
    padding-right: 12%;
    padding-left: 12%;
}

.topnav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    justify-content: space-around;
}

.topnav-links div{
    display: inline-block;
    font-size: 18px;
    color: #E5E7EB;
    margin: 6px;
}

.header-logo {
    padding: 4px;
    width: 66px;
}

.logo-image {
    height: 48px;
    width: auto;
}